.TodoForm {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.TodoForm_iconWrapper {
  display: flex;
  gap: 0.7rem;
}



@media (max-width: 1124px) {
  .TodoForm {
    gap: 1rem;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .TodoForm___formButton {
    margin-top: 1.5rem;
  }
}


